body {
  background-attachment: fixed;
  background-size: cover;
}

#barra {
  width: 0;
  height: 5px;
}

#barragris {
  height: 5px;
}

#icono1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  margin-left: 0;
  text-align: center;
}

#icono2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  transition: all 0.5s;
  text-align: center;
}

#icono3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  transition: all 0.5s;
  text-align: center;
}

.iconos {
  width: 50%;
  margin-top: -17.5px;
}

#seccion1,
#seccion2,
#seccion3 {
  width: 90%;
  height: 350px;
}

#seccion2,
#seccion3 {
  visibility: hidden;
  margin-top: -350px;
}

#atras {
  visibility: hidden;
}

#enviar {
  visibility: hidden;
}

p {
  text-align: justify;
}

input {
  border: 0;
  border-bottom: 2px solid #caccce;
  background-color: #eee;
}

input:focus {
  border-bottom: 2px solid #0d6efd;
  transition: all 0.2s ease-in-out;
  outline: 0;
}

#atras,
#siguiente,
#enviar {
  transition: all 0s;
}

p {
  background: #caccce;
}

#cajaInicio {
  margin-top: 275px;
}

@media screen and (min-width: 1000px) {
  #bodyRegistro {
    margin-top: 10px;
    padding: 40px;
  }

  #cajaBotonesIniReg {
    width: 45%;
  }

  #cajaInicio {
    width: 30%;
  }

  #cajaFormulario {
    margin: auto;
    width: 50%;
  }

  #formularioRegistro {
    width: 75%;
  }

  #formularioCrear, #formularioReservar{
    width: 50%;
    padding: 20px;
  }
}

@media screen and (max-width: 575px) {
  #bodyRegistro {
    padding: 0;
  }

  #cajaBotonesIniReg {
    margin-top: 25px;
  }

  .brQuitarSM {
    display: none;
  }

  #cajaInicio {
    width: 80%;
  }

  #logoIndex {
    width: 75%;
  }

  #indexfooter {
    width: 100%;
  }

  #cajaFormulario {
    width: 80%;
    margin: 0 auto;
  }

  #formularioRegistro {
    width: 100%;
  }

  #seccion1,
  #seccion2,
  #seccion3 {
    width: 90%;
    height: min-content;
  }

  #seccion1 {
    width: 100%;
  }
  
  #tablaClases, #tablaReservas{
	overflow-x: scroll;
	width:400px;
  }
}

.clases {
  background-color: white;
  height: 200px;
}

.barraLectura {
  top: 0;
  width: 100%;
  z-index: 1;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.6);
  height: 5px;
  width: 100%;
}

.progress-bar {
  background-color: #0d6efd;
  height: 5px;
  width: 0%;
}

tbody tr:hover{
  border: #0d6efd;
  transition: all 0.5s;
} 

tbody td, tbody th{
  vertical-align: middle;
}

#bodyInicioSesion{
	background-image: url(../img/fondoinicio.jpg);
}

#formularioReserva{
	background-image: url(../img/bodyFormularioReserva.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.arrows {
  width: 60px;
  height: 72px;
  left: 50%;
  bottom: 20px;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}